/*ここに調整CSS記述*/
@import './_variables.scss';

@media (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}


body,.jumbotron,.container,.container-fluid, .mdb {
  background-color: $background_color
}


/*body { padding-top: 70px; }*/

fieldset.disabled, fieldset.disabled .panel, fieldset.disabled .panel-footer,  fieldset.disabled .panel input, fieldset.disabled .panel select
{
  background-color: gray !important;
  z-index: 100;
  opacity: 0;
}

.main_logo, .main_logo:hover {
  background: $logo_image;
  background-repeat: no-repeat;
  height: 160px;
  width: 320px;
  border-style:none;
}

.navbar-brand {
  /*  background: url("./public/images/logo.jpg") no-repeat left center; */
  background: $logo_image;
  background-repeat: no-repeat;
  background-size: contain;
  height: $nav_image_height;
  width: $navi_image_width;
}

.navbar-nav li a{
  color: $font_color_in_nav !important;
  font-size: $font_size_in_nav;
}

.arrow{
  width: 0;
  height: 0;
  border-top: 30px solid #d9534f;
  border-right: 80px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 80px solid transparent;
}

.portal-index {
  color: $font_color_in_portal_index;
}